.bg-secondary, .bg-dark, bi {
    color: white;
}

.new {
    color: limegreen;
}

#name, #contacts, #skills, #projects, #education, #work {
    opacity: 0;
    transition: all .4s ease-in-out;
}

a {
    text-decoration: none;
}